{% extends 'layout.html' %}

{% block body %}
<form action="" method="POST" >
	<div class="container " style="padding: 50px 50px 50px 50px;margin-top: 40px;background: #fff;border-radius: 5px;">
		<div class="keydiv">
			<div class="field has-addons">
			 	<p class="control is-expanded">
			  	<input class="input" type="text" name='identity' placeholder="Key here" id="p1">
		 	 	</p>
		 	 	<p class="control">
		   	 	<button class="button is-primary">Fetch</button>
		     	</p>
			</div>
		</div>
	</div>
</form>
{% endblock %}